
/* header and footer css */
header, footer{
  background-color: #cfc4c4;
  font-family: roboto;
  padding: 10px;
}
header div h1 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: auto 0;
  padding: 15px 0px 0px;
}

header div p {
  text-align: center;
  font-size: 16px;
  margin: auto 0;
  padding: 0px 0px 15px 0px;
}

hr {
  border-top: 2px dashed black;
  margin: 3px;
}

footer div p {
  font-size: 14px;
  margin: auto 0;
  padding: 0px;
}
